
@charset "utf-8";

h1{
    font-size:15pt;
    font-weight:bold;
}

.radio_btns{
    display:flex;
    margin:10px 5px;
}
.btns{
    display:flex;
}
.results{
    display: flex;
    justify-content: space-between;
}

#myMap{
    width: 50%;
    height: 70%;
    margin: 1%;
    float:left;
}
thead, tbody {
    display: block;
}
tbody {
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: auto;
    height: 90%;
}
/* th, td {
    width: 100px;
} */

#table_cust{
    margin-top: 2%;
    height: 70%;
    /* overflow: auto; */
    /* float:right; */
}

#result{
    height: 70%;
    overflow: auto; 
}
.contents{
    margin: 3% 3%;
}

.c_cat{
    font-size:2px;
}
.c_name{
    font-size:15px;
    padding-top: 6px;
    font-weight: bold;
    cursor: pointer;
}
.c_name:hover{
    color:white;
    background-color:grey;
}
.c_memo{
    font-size:2px;
}
.c_addrs{
    font-size:2px;
}
.c_pr{
    font-size:13px;
    padding-top: 6px;
}